affine
aiofiles
anyio
appnope
argon2-cffi
asgiref
async-generator
attrs
Babel
backcall
backports.functools-lru-cache
bcrypt
black
bleach
branca
brotlipy
certifi
cffi
cfgv
chardet
charset-normalizer
click
click-plugins
cligj
cryptography
cycler
decorator
defusedxml
distlib
dnspython
ecdsa
email-validator
entrypoints
fastapi
fastapi-users
filelock
Fiona
folium
GDAL==3.6.3
geopandas
gpxpy
h11
identify
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
kiwisolver
makefun
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mistune
munch
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
numpy
olefile
osmnx
packaging
pandas
pandocfilters
parso
passlib[bcrypt]
pathspec
pexpect
pickleshare
Pillow
pip
platformdirs
pre-commit
prometheus-client
prompt-toolkit
ptyprocess
pyasn1
pycparser
pydantic
Pygments
PyJWT
pyOpenSSL
pyparsing
pyproj
pyrsistent
PySocks
python-dateutil
python-jose[cryptography]
python-multipart
pytz
PyYAML
pyzmq
rasterio
requests
requests-unixsocket
rsa
Rtree
scikit-learn
scipy
Send2Trash
setuptools
Shapely
six
sniffio
snuggs
starlette
terminado
testpath
threadpoolctl
tomli
tornado
traitlets
typed-ast
typing_extensions
urllib3
uvicorn
virtualenv
wcwidth
webencodings
websocket-client
wheel
zipp
