{% extends "map_page.html" %} {% import 'macros/autocomplete.html' as macros %}
{% block css %} {{ super() }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', path='/css/autocomplete.css') }}"
/>
{% endblock %} {% block controls %}
<div>
  <label class="option-label">Options</label>
</div>

<div class="form-group form-inline">
  <label for="geometry-to-show" class="form-label">Geometry to show</label>
  <div
    id="geometry-to-show"
    class="btn-group btn-group-toggle"
    data-toggle="buttons"
  >
    <label class="btn btn-primary btn-sm active">
      <input
        type="radio"
        name="geometry-options"
        id="runs"
        autocomplete="off"
        onchange="enableAnimation()"
        checked
      />Segments
    </label>
    <label class="btn btn-primary btn-sm">
      <input
        type="radio"
        name="geometry-options"
        id="traversals"
        onchange="disableAnimation()"
        autocomplete="off"
      /># traversals
    </label>
    <label class="btn btn-primary btn-sm">
      <input
        type="radio"
        name="geometry-options"
        id="run_linestrings"
        onchange="enableAnimation()"
        autocomplete="off"
      />Raw
    </label>
    <label class="btn btn-primary btn-sm">
      <input
        type="radio"
        name="geometry-options"
        id="missing"
        onchange="disableAnimation()"
        autocomplete="off"
      />Missing
    </label>
  </div>
</div>

<div class="form-group form-inline">
  <label for="min-segment-length-m-slider" class="form-label"
    >Minimum segment length (metres)</label
  >
  <input
    type="range"
    class="form-range"
    min="0"
    max="250"
    value="0"
    step="1"
    id="min-segment-length-m-slider"
  />
  <div id="min-segment-length-m">0</div>
</div>
<div class="form-group form-inline">
  <label for="animation-speed" class="form-label"
    >Max missing segments to show:</label
  >
  <input
    type="range"
    class="form-range"
    step="100"
    min="100"
    max="5000"
    value="500"
    id="max-missing-to-show-slider"
  />
  <div id="max-missing-to-show">500</div>
</div>
<div class="form-group form-inline">
  <label for="animation-speed" class="form-label"
    >Animation speed (days/second):</label
  >
  <input
    type="range"
    class="form-range"
    min="1"
    max="90"
    value="10"
    id="animation-speed"
  />
  <div id="days-per-second">10</div>
</div>
<div class="form-group form-inline">
  <div class="col">
    <label for="run-date">Start date:</label>
  </div>
  <div class="col">
    <input
      class="form-control"
      type="date"
      value="2020-06-10"
      id="start-date"
    />
  </div>
</div>
<div class="form-group form-inline">
  <div class="col">
    <label for="run-date">End date:</label>
  </div>
  <div class="col">
    <input class="form-control" type="date" value="" id="end-date" />
  </div>
</div>

<div class="form-group form-inline">
  <div class="dropdown">
    <button
      class="btn btn-primary btn-sm"
      type="button"
      id="area-dropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Show saved sub area
    </button>
    <div
      class="dropdown-menu"
      id="area-dropdown-ctn"
      aria-labelledby="area-dropdown"
    ></div>
  </div>
</div>

<hr />

<div class="form-group form-inline">
  <div class="input-group-prepend">
    <div class="input-group-text" id="date-range-btns">
      <i class="fa fa-calendar"></i>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-sm"
    id="show-in-date-range-btn"
    onclick="showGeometry('date-range')"
  >
    Show
  </button>
  <button
    type="submit"
    class="btn btn-primary btn-sm"
    id="animate-in-date-range-btn"
    onclick="animateData('date-range')"
  >
    Animate
  </button>
  <button
    type="submit"
    class="btn btn-success btn-sm animation-control-btn"
    id="play-animate-in-date-range-btn"
  >
    <i class="fa fa-play"></i>
  </button>
  <button
    type="submit"
    class="btn btn-secondary btn-sm animation-control-btn"
    id="pause-animate-in-date-range-btn"
    onclick="pauseAnimation('date-range')"
  >
    <i class="fa fa-pause"></i>
  </button>
</div>

<div class="form-group form-inline">
  <div class="input-group-prepend">
    <div class="input-group-text" id="all-btns">
      <i class="fa fa-globe"></i>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-sm"
    id="show-all-btn"
    onclick="showGeometry('all')"
  >
    Show
  </button>
  <button
    type="submit"
    class="btn btn-primary btn-sm"
    id="animate-all-btn"
    onclick="animateData('all')"
  >
    Animate
  </button>
  <button
    type="submit"
    class="btn btn-success btn-sm animation-control-btn"
    id="play-animate-all-btn"
  >
    <i class="fa fa-play"></i>
  </button>
  <button
    type="submit"
    class="btn btn-secondary btn-sm animation-control-btn"
    id="pause-animate-all-btn"
    onclick="pauseAnimation('all')"
  >
    <i class="fa fa-pause"></i>
  </button>
</div>

<button
  type="submit"
  class="btn btn-danger btn-sm"
  id="reset-btn"
  onclick="removeSegments()"
>
  Reset
</button>

<button
  type="button"
  class="btn btn-light btn-sm"
  data-toggle="modal"
  data-target="#help-modal"
>
  <i class="fa fa-question-circle-o"></i>
</button>

<div
  class="modal fade"
  id="help-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-stats-tab"
            data-toggle="tab"
            href="#nav-stats"
            role="tab"
            aria-controls="nav-stats"
            aria-selected="true"
            >Stats</a
          >
          <a
            class="nav-item nav-link"
            id="nav-missing-tab"
            data-toggle="tab"
            href="#nav-missing-roads"
            role="tab"
            aria-controls="nav-missing-roads"
            aria-selected="false"
            >Missing roads</a
          >
          <a
            class="nav-item nav-link"
            id="nav-animation-tab"
            data-toggle="tab"
            href="#nav-animation"
            role="tab"
            aria-controls="nav-animation"
            aria-selected="false"
            >Animation</a
          >
          <a
            class="nav-item nav-link"
            id="nav-sub-areas-tab"
            data-toggle="tab"
            href="#nav-sub-areas"
            role="tab"
            aria-controls="nav-sub-areas"
            aria-selected="false"
            >Sub areas</a
          >
        </div>

        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-stats"
            role="tabpanel"
            aria-labelledby="nav-stats-tab"
          >
            <div class="modal-body">
              <p>
                Runs can be shown via the 'Show' buttons at the bottom of the
                lefthand options pane, either within a date range
                <i class="fa fa-calendar"></i> or for all dates
                <i class="fa fa-globe"></i>.
              </p>
              <p>
                The data shown can be either OSM segments or raw linestrings,
                via the geometry options 'Segments' and 'Raw' respectively.
                Statistics are displayed in the righthand map overlay, but are
                currently only shown for the 'Segments' option.
              </p>
              <p>
                If a polygon is drawn on the map then only segments/runs
                intersecting the polygon will be returned. Statistics will also
                be calculated using only segments intersecting the polygon.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-missing-roads"
            role="tabpanel"
            aria-labelledby="nav-missing-roads-tab"
          >
            <div class="modal-body">
              <p>
                By choosing the 'Missing' geometry option, roads that have not
                yet been run can be displayed using the 'Show' buttons.
              </p>
              <p>
                Runs considered in order to calculate missing segments can be
                geographically filtered via a polygon if one is drawn (including
                sub areas). Segments traversals can be considered from a date
                range
                <i class="fa fa-calendar"></i> or for all dates
                <i class="fa fa-globe"></i>.
              </p>
              <p>
                The 'Max missing segments to show' slider allows control over
                how many segments are displayed. In the full area there may be
                many missing segments, which if displayed all at once can make
                the map unresponsive.
              </p>

              <p>
                High-level statistics on missing roads are displayed in the top
                box to the right of the map.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-animation"
            role="tabpanel"
            aria-labelledby="nav-animation-tab"
          >
            <div class="modal-body">
              <p>
                Runs can be animated via the 'Animate' buttons at the bottom of
                the lefthand options pane. These can be in a date range
                <i class="fa fa-calendar"></i> or all dates
                <i class="fa fa-globe"></i>.
              </p>
              <p>
                The data to be animated can be either OSM segments or raw
                linestrings, via the geometry options 'Segments' and 'Raw'
                respectively. If a polygon is drawn (including sub areas), then
                only data that intersects with the polygon will be included in
                the animation.
              </p>
              <p>
                The 'Animation speed (days/second)' slider determines the
                animation speed. To stop the animation, click 'Reset'.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-sub-areas"
            role="tabpanel"
            aria-labelledby="nav-sub-areas-tab"
          >
            <div class="modal-body">
              <p>
                Shapes drawn on the map can be saved for the future, known as
                'sub areas'. These are smaller sections of a run area which
                carry some meaning, e.g. a particular neighbourhood or a radius
                around a point.
              </p>
              <p>
                To save a shape, click on it to bring up the save dialog. A name
                must be given for the area drawn. The shape can optionally be
                intersected with the run area boundary, since for stats purposes
                any of the sub area outside that boundary is superfluous. Taking
                the intersection is the default option.
              </p>
              <p>
                Once saved, your new saved sub area will appear in the dropdown
                list 'Show saved sub area'.
              </p>
            </div>
          </div>
        </div>
      </nav>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block map %}
<div class="mapbox">
  <div id="map"></div>
  <div id="animation-date" class="row-fluid left-overlay stats-box">
    <div>
      <span
        id="animation-date-slider-min"
        class="animation-date-slider-bound"
      ></span>
      <input
        type="range"
        class="form-range"
        min="0"
        max="1"
        value="0"
        step="1"
        id="animation-date-slider"
      />
      <span
        id="animation-date-slider-max"
        class="animation-date-slider-bound"
      ></span>
    </div>
    <span id="animation-date-slider-current-date"></span>
  </div>
  <div id="stats-box" class="row-fluid right-overlay stats-box">
    <span style="font-size: 20px">Stats</span>
    <button
      id="toggle-stats-collapse"
      class="btn btn-sm btn-secondary"
      onclick="collapseStatsOverlay();"
    >
      <i class="fa fa-compress"></i>
    </button>
    <div id="stats-box-data">
      <div id="overall-stats-box-data"></div>
      <hr />
      <div id="run-stats-box-data" class="container body-content">
        <div class="page-header">
          <div class="form-group">
            <fieldset>
              <form action="" class="form-group" method="post">
                <div class="table-responsive">
                  <div class="table-responsive">
                    <table
                      id="stats-by-run-table"
                      class="table table-striped table-bordered"
                      cellspacing="0"
                      width="100%"
                    >
                      <thead>
                        <tr>
                          <th id="date-col-header">Date</th>
                          <th>Run km</th>
                          <th>New km</th>
                          <th>% New</th>
                        </tr>
                      </thead>
                      <tbody id="stats-by-run-rows"></tbody>
                    </table>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
        <hr />
      </div>

      {{ macros.autocomplete("autocomplete-segment-ids",
      input_id="segment-id-search-input") }}
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
  integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw=="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
<script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
<script src="https://unpkg.com/intersects/umd/intersects.min.js"></script>
<script src="{{ url_for('static', path='/javascript/base.js') }}"></script>
<script src="{{ url_for('static', path='/javascript/map_stats.js') }}"></script>
{% endblock %}
