---
layout: base
title: Home
permalink: '/'
heading: About
---

<article>
    <h2>{{ heading }}</h2>
    <p>
        This blog documents a running challenge I started...
    </p>
    <p>
        Made using <a href="https://11ty.dev">11ty</a> via an <a href="https://eleventonia.mattdecamp.com/">eleventonia</a> start project.
    </p>
</article>
